html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include login.css
        title Document

    body
        form(action=login, method="POST")
            input(type="hidden", name="referer", value=referer)

            div(class="formContainer roundedCorners shadowed")
                h3 Login (Beta)
                label(for="username") Benutzername
                input(type="text", name="username")

                label(for="password") Passwort
                input(type="password" name="password")
                input(type="submit")