input, label {
    display: block;
  }
  
  .formContainer {
    padding: 20px;
    width: min-content;
    border: 1px solid white;
    background-color: lightblue;
  
    /* Centerhack */
    position: absolute;
    top: 50vh;
    left: 50vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.9;
  }
  
  .roundedCorners {
    border-radius: 5px;
  }

  .shadowed {
    box-shadow: 9px 10px 14px -1px rgba(0,0,0,0.49);
    -webkit-box-shadow: 9px 10px 14px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 9px 10px 14px -1px rgba(0,0,0,0.49);
  }

  body {
      background-color: grey;
      font-family: Arial, Helvetica, sans-serif;
  }