meta(charset="UTF-8")
meta(name="viewport",
    content="width=device-width, initial-scale=1.0")
link(rel="stylesheet",
    href="res/main.css")
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="anonymous">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="anonymous"></script>
link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
link(rel="stylesheet",
    href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css")
script(src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js")
script(src="res/main.js")
<script type="module" src="https://unpkg.com/tangram/dist/tangram.min.mjs"></script>
<script nomodule src="https://unpkg.com/tangram/dist/tangram.min.js"></script>
script(src="https://unpkg.com/micromodal/dist/micromodal.min.js")

link(rel="stylesheet",
    href="res/modal.css")